---
import Link from "@/components/astro/link.astro";
import MainLayout from "@/layouts/main-layout.astro";
import { getCollection } from "astro:content";

const allBlogs = await getCollection("blogs");
---

<MainLayout title="Blogs">
  <h1>My BLogs</h1>
  <ul>
    {
      allBlogs.map((post) => (
        <li>
          <Link href={`/blogs/${post.id}`} class="blog-link">
            {post.data.title}
          </Link>
        </li>
      ))
    }
  </ul>

  <hr />

  <h2>SSR Links</h2>
  <ul>
    {
      allBlogs.map((post) => (
        <li>
          <Link href={`/blogs/ssr/${post.id}`}>{post.data.title}</Link>
        </li>
      ))
    }
  </ul>
</MainLayout>

<script define:vars={{ allBlogs }}>
  import { prefetch } from "astro:prefetch"; // doing programatically

  const blogLinks = document.querySelectorAll(".blog-link");

  blogLinks.forEach((link, index) => {
    link.addEventListener("click", () => { // "mouseenter"
      prefetch(`/blogs/${allBlogs[index].id}`, { ignoreSlowConnection: true });
    });
  });
</script>
